.mt-addons-premium-shaped-video video,
.mt-addons-premium-shaped-video img {
  position: absolute;
  margin: 0;
  overflow:hidden;
}
.mt-addons-premium-shaped-video video {
object-fit: cover;
}

.mt-addons-premium-shaped-video img {
  background:#F8F4EF;
  mix-blend-mode: lighten;