.mt-addons-premium-textual-project-showcase {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.mt-addons-premium-textual-project-showcase{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}